@media (max-width: 1400px) {
}
@media (max-width: 1268px) {
}

@media (max-width: 1200px) {
}
@media (max-width: 1068px) {
}

@media (max-width: 992px) {
  .header-right ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 0 10px;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}
@media (max-width: 856px) {
}

@media (max-width: 768px) {
  .header-right ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    padding: 0 6px;
    text-transform: uppercase;
  }
}
@media (max-width: 672px) {
}

@media (max-width: 576px) {
  .header-left {
    margin-top: 7px;
    text-align: center;
  }
  .header-right ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin-top: 10px;
  }
}
@media (max-width: 468px) {
}
@media (max-width: 416px) {
}
